@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

#page_dashboard .ui-bar-a {
	border: 1px solid #654297;
	background: #654297 !important;
}
.page_dashboard_2 .ui-bar-a {
	border: none !important;
	background: none !important;
}
.contenedorDash2{
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
#detail_movie
{
    display:none;
}

#detail_movie #img_txt{
	margin-left: 0px;
	width: 100%;
	height: auto !important;
}
#detail_movie .imagenes_dash{
	margin-top: -2px;
}
#detail_movie .imagenes_dash #img_dash{
	margin-left: -15px;
	width: 100%;
	height: auto !important;
}

#detail_movie{
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-family: 'Open Sans', sans-serif;

}
#detail_movie .centrado{
	text-align: left;
}
#detail_movie h3, #detail_movie span p, #detail_movie img#corazon{
	margin-left: 15px !important;
	margin-right: 15px;
}

#page_dashboard2 .ui-bar-a {
	border: 1px solid #db482f;
	background: #db482f !important;
}

#page_dashboard3 .ui-bar-a {
	border: 1px solid #09a5cd;
	background: #09a5cd !important;
}


#page_dashboard4 .ui-bar-a {
	border: 1px solid #53ac53;
	background: #53ac53 !important;
}

#logo_header{
	position: absolute;
	top: 50%;
	left: 30%;
	margin-left: -60px;
	margin-top: -18px;
	height: 35px;
}
#flechaLeft{
	position: absolute;
	top: 50%;
	right: 15%;
	margin-left: -60px;
	margin-top: -18px;
	height: 30px;
}

.contenido #img_txt{
	margin-left: 0px;
	width: 100%;
	height: auto !important;
	margin-bottom: -5px;
}
.contenido .imagenes_dash{
	margin-top: 0px;
}
.contenido .imagenes_dash #img_dash{
	margin-left: 0px;
	width: 100%;
	height: auto !important;
	margin-bottom: -4px;
}

#img_txt{
	height: 75px;
}
.contenedor{
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important
}
.contenido{
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-family: 'Open Sans', sans-serif;

}
.contenido .centrado{
	text-align: left;
}
.contenido h3, .contenido span p, .contenido img#corazon{
	margin-left: 15px !important;
	margin-right: 15px;
}
.centrado{
	text-align: center;
}

.centrado .imagenes_dash{

}

#img_target{
	height: 175px;
	margin: 20px 20px 10px 20px;
}



 #footer_logo_bocina .ui-btn-inner{
 	background: #654297;
 	text-align: center;
 }

#logo_bocina{
	height: 45px;
	/*float: left;*/
	margin: 0 0 0 -8px;
}


 #footer_logo_target .ui-btn-inner{
 	background: #db482f;
 	text-align: center;
 }

#logo_target{
	height: 45px;
	/*float: left;*/
	margin: 0 0 0 -8px;
}

#footer_logo_estrella .ui-btn-inner{
	background: #09a5cd;
	text-align: center;
}

#logo_estrella{
	height: 45px;
	/*float: left;*/
	margin: 0 0 0 -8px;
}


#footer_logo_user .ui-btn-inner{
	background: #53ac53;
	text-align: center;
}

#logo_user{
	height: 45px;
	/*float: left;*/
	margin: 0 0 0 -8px;
}


.ui-btn-up-a{
	border: none;
}


#footer_page{
	border: none;
}

/*css your history*/


.contenidoBody{
	padding: 0;
}
.descripcion{
	float: left;
	width: 100%
}

.izq{
	float: left;
	width: 40%
}
.izq img{
	width: 100%;
	margin-bottom: -3px;
}
.der{
	float: left;
	width: 60%
}
.der h3{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 0;
}
.der #ratemovie{
	margin-bottom: 0px;
}
.der .descMovie{
	font-size: 10px;
}
.der .like{
	font-size: 10px;
}
.der p{
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.der #corazon{
	height: 12px;
}
.der .flechaRight{
	height: 15px;
	margin-left: 5px;
}

/*css profile*/
.contenidoProfile{
	padding: 0;
}

.texto-profile{
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 15px;
}

.texto-profile .texto1{
	width: 90%;

}
.descripcion2{
	float: left;
	width: 100%;
	text-align: center;
}

.amigo{
	float: left;
	width: 15%;
	margin-left: 5px;
}
.amigo img{
	width: 100%;

}
.descripcion #accion{
	height: 12px;
}
.descripcion .find{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
}
.descripcion .notificacion{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
}
.descripcion #textoNotifica{
	font-size: 10px;
}

.descripcion .lastRev{
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	font-size: 10px;
}

/*CSS settings*/

.descripcion ul{
	font-family: 'Open Sans', sans-serif;
	list-style-type: none;
	font-size: 12px;
}
.descripcion ul li{
	display: block;
}


/*CSS pagina logueo*/
.colores .mor{
	background-color:#654297;
	width: 35%;
	height: 35px;
}
.colores .roj{
	background-color: #DB482F;
	width: 30%;
	height: 35px;
}
.colores .az_ul{
	background-color: #09A5CD;
	width: 20%;
	height: 35px;
}
.colores .ver{
	background-color: #53AC53;
	width: 15%;
	height: 35px;
}

.morado{
	margin-top: 15px;
	width: 100%;
}
.redes{
	margin-top: 15px;
	width: 80%;
}