@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

#page_dashboard .ui-bar-a {
	border: 1px solid #654297;
	background: #654297 !important;
}


#page_dashboard2 .ui-bar-a {
	border: 1px solid #db482f;
	background: #db482f !important;
}

#page_dashboard3 .ui-bar-a {
	border: 1px solid #09a5cd;
	background: #09a5cd !important;
}


#page_dashboard4 .ui-bar-a {
	border: 1px solid #53ac53;
	background: #53ac53 !important;
}

#logo_header{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -18px;
	height: 35px;
}
.contenido #img_txt{
	margin-left: -15px;
	width: 100%;
}

#img_txt{
	height: 75px;
}
.contenido{
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-family: 'Open Sans', sans-serif;

}
.contenido .centrado{
	text-align: left;
}
.contenido h3, .contenido span p, .contenido img#corazon{
	margin-left: 15px !important;
	margin-right: 15px;
}
.centrado{
	text-align: center;
}

#img_target{
	height: 175px;
	margin: 20px 20px 10px 20px;
}



 #footer_logo_bocina .ui-btn-inner{
 	background: #654297;
 }

#logo_bocina{
	height: 45px;
	float: left;
	margin: 0 0 0 -8px;
}


 #footer_logo_target .ui-btn-inner{
 	background: #db482f;
 }

#logo_target{
	height: 45px;
	float: left;
	margin: 0 0 0 -8px;
}

#footer_logo_estrella .ui-btn-inner{
	background: #09a5cd;
}

#logo_estrella{
	height: 45px;
	float: left;
	margin: 0 0 0 -8px;
}


#footer_logo_user .ui-btn-inner{
	background: #53ac53;
}

#logo_user{
	height: 45px;
	float: left;
	margin: 0 0 0 -8px;
}


.ui-btn-up-a{
	border: none;
}


#footer_page{
	border: none;
}